body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
  }


 nav{
   width: 73%;
   padding: 1%;
 }
 ul{
   width: 50%;
   margin-left: auto;
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 8, 8);
  
  }
  
  li {
       
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
 }

 .heroImg{
   display:grid;
   height:700px;
   padding: 25px;
   grid-template-areas: 'Text Content';
   grid-column: auto auto;

   ;
 }
 .Content{
   grid-area: Content;
   width: 500px;
   margin:auto;
  float:right; }
  .Text{
    grid-area: Text;
    float:left;}
  
 h1{
   color:white;}
p{color:white;}





 .navigation {
  display: flex;
  width: 100%;
  align-items: left;
  justify-content:right;
}

.flexcontainer{

  display: flex;
  
  flex-direction: row;
  justify-content: left;


}

.flexcontainer>div{
  margin: 50px;
  text-align: left;
  font-size: 20px;
}

.MyWork1{ 
  grid-area: MyWork1;
}
.MyWork2{
  grid-area: MyWork2;
}
.WorkGrid {
  display: grid;
  grid-template-areas:
    'MyWork1 MyWork1';
  grid-row: auto auto;
  grid-column: auto auto;
  grid-gap: 10px;
  background-color: whitesmoke;
  padding: 10px;
  }
.MyWorkImg2 {
  float:right;
  margin-left: 30px;
  padding: 10px 10px 10px 10px;
}
.MyWorkImg1{
  Float:Left;
  margin-right: 30px;
}

@media only screen and (max-width: 600px){
  display:grid;
}

.Footer{
  justify-content: space-evenly;
}

.main{

}

